<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('header') %>
<h1>Java</h1>
<p>Java is a powerful, object-oriented language that’s widely used in enterprise and Android development. I appreciate its stability and robustness.</p>

</body>
</html>
