<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('header') %>
<h1>JavaScript</h1>
<p>JavaScript is my favorite language because it powers the web and is incredibly versatile. I love using it with React and Node.js to build full-stack applications.</p>

</body>
</html>